

.whole-bg-container{
  display: flex;
  flex-direction: row; 
  height: 100%;
  width: 100%;
}

.header-and-routes-container{
  width: 100%;
} 


.header-container{
  height: 40px;
  background-color: rgba(245, 243, 244, 0.922); 
  padding: 2px;
}

.header-title{
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color:  rgb(213, 74, 248); 
  background-color: white; 
  width: 120px;
  height: 30px;
  border-style: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 3px; 
  padding-top: 7px;
  padding-left: 15px; 
  margin-left: 10px;
} 
